
body{
  background-color: teal;
}

.btn-primary{
  background-color: red;
  border: 2px solid;
  border-color: black;
}

.modal-title, .btn-primary{
  text-transform: capitalize;
}

.list-group{
  margin: 100px;
}

@media (min-width: 990px) {
  .list-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}